<div class="container-fluid">
  <div class="row">
    <div class="input-group col-12">
      <input name="commentText" [(ngModel)]="commentText" (keydown.control.enter)="onClickSendCommentButton()"
             type="text" class="form-control" placeholder="Comment..." aria-label="input your comment"
             aria-describedby="comment-send-button">
      <div class="input-group-append">
        <button class="btn btn-info" type="button" id="comment-send-button" (click)="onClickSendCommentButton()">Send
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-2"></div>
  </div>
  <div class="row">
    <button class="btn btn-info col-2 mx-auto" [disabled]="(voteManagerService.voteStatusValueChanges | async).isVoting"
            (click)="showVoteComponentFlagManagerService.value = !showVoteComponentFlagManagerService.value;">vote
    </button>
    <button class="btn btn-info col-2 mx-auto" (click)="onClickSendGrassButton()">www</button>
    <button class="btn btn-info col-2 mx-auto" (click)="onClickSendCrapButton()">crap</button>
    <button class="btn btn-info col-2 mx-auto" (click)="isShowConfig = !isShowConfig">config</button>
  </div>
  <ng-template [ngIf]="isShowConfig">
    <div class="row">
      <div class="col-12 py-2"></div>
    </div>
    <div  class="row">
      <app-config></app-config>
    </div>
  </ng-template>
  <ng-template [ngIf]="!(voteManagerService.voteStatusValueChanges | async).isVoting && showVoteComponentFlagManagerService.value">
    <div class="row">
      <div class="col-12 py-2"></div>
    </div>
    <div  class="row">
      <app-vote class="col-12"></app-vote>
    </div>
  </ng-template>
  <ng-template [ngIf]="(voteManagerService.voteStatusValueChanges | async).isVoting">
    <div class="row"><div class="col-12 py-2"></div></div>
    <app-vote-card></app-vote-card>
  </ng-template>
  <ng-template [ngIf]="!(voteManagerService.voteStatusValueChanges | async).isVoting && !showVoteComponentFlagManagerService.value">
    <div class="row"><div class="col-12 py-2"></div></div>
    <app-vote-result></app-vote-result>
  </ng-template>
</div>
